@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow: hidden;
  padding: 0%;
  margin: 0%;
}

a{
  color: gray;
  text-decoration: #aa852b;
  cursor: pointer;
}

a:hover { color: black }

a:active{ color: black }

.global-container{
  display: flex;
  flex-flow: row;
  margin: 4%;
  background-image: url(../public/portfolio-face.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: whitesmoke;
  height: 85vh;
  filter: drop-shadow(10px 10px 10px);
  animation: fadein 2s;
  padding: 0% 2%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.global-style-component{
  margin-top: 0px;
  animation: fadein 2s;
  max-height: 100%;
}

.navbar{display: none;}

.small-title{
  font-size: 2rem;
  margin-bottom: -20px;
  margin-left: 1%;
}

.big-title{
  font-size: 5.5rem; 
  margin-top: 0%;
  color:#aa852b; 
  border-bottom: 3px solid #aa852b; 
  width: 90%; 
  margin-bottom: 0;
}

.profile-big-title{
  font-size: 5.5rem; 
  margin-top: 0%;
  color:#aa852b; 
  border-bottom: 3px solid #aa852b; 
  width: 90%; 
  margin-bottom: 0;
}

.main-content{
    width: 90%;
    margin-top: 3vh;
    font-size: 1rem;
    overflow: auto;
}

.main-content-subtitle{
  color: #aa852b;
  font-size: 1.5rem;
}

.project-tab{animation: fadein 2s;}
.messenger-list{animation: fadein 2s;}
.drawer{
  animation-name: slideInLeft;
  animation-duration: 1s;
}

.perfect-scrollbar{animation: fadein 1s;}

@keyframes slideInLeft {
  from {
    left: -1000px;
    opacity: 0;
  }

  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    left: 0px;
    opacity: 1;
  }

  to {
    left: -1000px;
    opacity: 0;
  }
}

.shadow-level1{filter: drop-shadow(1px 1px 1px)}


@media screen and (max-width: 480px) {
  .global-container{
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-position-y: bottom;
    padding: 0% 0%;
    margin: 0%;
    filter: none;
  }
  
  .small-title{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1vh;
    width: 100%;
  }

  .big-title{
    text-align: center;
    font-size: 5.5rem;
    width: 100%;
    line-height: 80%;
  }

  .profile-big-title{
    text-align: center;
    font-size: 6.5rem;
    width: 100%;
    line-height: 80%;
  }

  .main-content-subtitle{
    text-align: center;
    margin-bottom: 0;
  }

  .main-content{width: 100%}

  .global-style-component{padding-top: 10vh;}

  .main-quote{text-align: center;}

}


/*===========Index style=========*/

.left-side-container{
  margin-top: 2%;
  width: 50%;
}

.navbar-container{
  display:flex;
  align-items: center;
}

.navbar-container ul{
  display: flex;
  width: 50%;
  justify-content: space-around;
  list-style-type: none;
}

.main-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 80%;
}

.hamburger{display: none;}


@media screen and (max-width: 480px) {
  .left-side-container{
    width: 100%;
    padding: 0% 5% 0% 5%;
  }
  .navbar-container{justify-content: space-between;}
  .navbar-container ul{display: none;}
  .quotes{display: none;}
  .main-container{justify-content: flex-start;}
  .nav-item{
    font-size: large;
    margin-bottom: 1vh;
  }

  .hamburger{display: flex;}
}


/*===========Parcours style=========*/

.bottom-container{
  display: flex;
  width:80%;
  flex-flow: column;
  align-items: center;
}

.bottom-container ul{
  display: flex;
  flex-flow: row;
  width: 80%;
  justify-content: space-between;
  list-style-type: none;
}

.downloadIcon{
  font-size: 3rem;
  cursor: pointer;
}

.downloadIcon:hover{color: gray}


@media screen and (max-width: 480px) {
  .bottom-container{
    justify-content: center;
    width: 90%;
    text-align: center;
  }
  .bottom-container ul{width: 100%;}
  
}



/*===========Projet style=========*/

.icon-container{
  display: flex;
  flex-flow: row;
  width: 80%;
  justify-content: space-around;
  margin-bottom: 2%;
  font-size: 1.5rem;
}

.project-icon{
  cursor: pointer;
  padding-bottom: 1%;
}



@media screen and (max-width: 480px) {
  .icon-container{
    width: 100%;
    margin-top: 2vh;
  }
}


/*===========Contact style=========*/

.contact-container{
  padding-top: 5vh;
  width: 100%;
}

.mail-container{
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 2vh;
}

.mail-icon{
  font-size: 2rem;
  margin-right: 1vw;
}

.messenger-container{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.messenger-icon{font-size: 1.5rem;}

.messenger-back-icon{
  font-size: 1rem;
  background-color: #aa852b;
  cursor: pointer;
  border-radius: 50%;
  padding: 3%;
}

.other-container{
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 2vh;
}

.other-icon{
  font-size: 2rem;
  margin-right: 1vw;
}

